[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
setuptools = "*"
wheel = "*"
twine = "*"
keyring = "*"
coverage = "*"
pymongo-stubs = "*"
ietfdata = {editable = true, path = "."}
types-six = "*"
types-requests = "*"
types-python-dateutil = "*"

[packages]
bs4 = "*"
email_reply_parser = "*"
imapclient = "*"
pandas = "*"
pandas-stubs = "*"
pavlova = "*"
python-dateutil = "*"
pymongo = "*"
requests = "*"

[requires]
python_version = "3.8"
